In [2]:
# Dependencies
import pandas as pd

In [3]:
# File to load

In [4]:
path="../Unsolved/Resources/Pokemon.csv"
# Read with Pandas

In [5]:
df=pd.read_csv(path)
df.head()
# Extract the following columns: "Type 1", "HP", "Attack", "Sp. Atk", "Sp. Def", and "Speed"

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [6]:
df_less=df[["Type 1", "HP", "Attack", "Sp. Atk", "Sp. Def","Speed"]]
df_less.head()
# Create a dataframe of the average stats for each type of pokemon.
df_avg=df_less.groupby(df_less['Type 1']).mean()
df_avg

                 HP      Attack    Sp. Atk    Sp. Def       Speed
Type 1
Bug       56.884058   70.971014  53.869565  64.797101   61.681159
Dark      66.806452   88.387097  74.645161  69.516129   76.161290
Dragon    83.312500  112.125000  96.843750  88.843750   83.031250
Electric  59.795455   69.090909  90.022727  73.704545   84.500000
Fairy     74.117647   61.529412  78.529412  84.705882   48.588235
Fighting  69.851852   96.777778  53.111111  64.703704   66.074074
Fire      69.903846   84.769231  88.980769  72.211538   74.442308
Flying    70.750000   78.750000  94.250000  72.500000  102.500000
Ghost     64.437500   73.781250  79.343750  76.468750   64.343750
Grass     67.271429   73.214286  77.500000  70.428571   61.928571
Ground    73.781250   95.750000  56.468750  62.750000   63.906250
Ice       72.000000   72.750000  77.541667  76.291667   63.458333
Normal    77.275510   73.469388  55.816327  63.724490   71.551020
Poison    67.250000   74.678571  60.428571  64.392857   63.571429
Psychic   70.631579   71.456140  98.403509  86.280702   81.491228
Rock      65.363636   92.863636  63.340909  75.477273   55.909091
Steel     65.222222   92.703704  67.518519  80.629630   55.259259
Water     72.062500   74.151786  74.812500  70.517857   65.964286

In [7]:
# Calculate the total power level of each type of pokemon by adding all of the stats together.
df_avg['total']=df_avg['HP']+df_avg['Attack']+df_avg["Sp. Atk"]+df_avg["Sp. Def"]+df_avg["Speed"]
df_avg.head()
# Place the results into a new column.

                 HP      Attack    Sp. Atk    Sp. Def      Speed       total
Type 1
Bug       56.884058   70.971014  53.869565  64.797101  61.681159  308.202899
Dark      66.806452   88.387097  74.645161  69.516129  76.161290  375.516129
Dragon    83.312500  112.125000  96.843750  88.843750  83.031250  464.156250
Electric  59.795455   69.090909  90.022727  73.704545  84.500000  377.113636
Fairy     74.117647   61.529412  78.529412  84.705882  48.588235  347.470588

In [8]:
# Bonus: Sort the table by strongest type and export the resulting table to a new CSV.#%%
df_sorted=df_avg.sort_values(by=['total'],ascending=False)
df_sorted.head()

                 HP      Attack    Sp. Atk    Sp. Def       Speed       total
Type 1
Dragon    83.312500  112.125000  96.843750  88.843750   83.031250  464.156250
Flying    70.750000   78.750000  94.250000  72.500000  102.500000  418.750000
Psychic   70.631579   71.456140  98.403509  86.280702   81.491228  408.263158
Fire      69.903846   84.769231  88.980769  72.211538   74.442308  390.307692
Electric  59.795455   69.090909  90.022727  73.704545   84.500000  377.113636