In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [3]:
### District Summary

#* Create a high level snapshot (in table form) of the district's key metrics, including:
#  * Total Schools
#  * Total Students
#  * Total Budget
#  * Average Math Score
#  * Average Reading Score
#  * % Passing Math
#  * % Passing Reading
#  * Overall Passing Rate (Average of the above two)

school_data_complete.head(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635

In [4]:
#TOTAL SCHOOLS
total_schools=school_data_complete['school_name'].value_counts().count()
total_schools

15

In [5]:
#TOTAL STUDENTS
total_students=school_data_complete['Student ID'].count()
total_students

39170

In [21]:
#TOTAL BUDGET
#total_budget=(school_data_complete.groupby('school_name').agg({"budget":'mean'})).sum()
total_budget=(school_data_complete.groupby('school_name').budget.mean()).sum()
total_budget

24649428

In [22]:
#AVG MATH SCORE
avg_math_score=school_data_complete['math_score'].mean()
avg_math_score

78.98537145774827

In [23]:
#AVG READING SCORE
avg_reading_score=school_data_complete['reading_score'].mean()
avg_reading_score

81.87784018381414

In [24]:
#% Passing Math
percent_passing_math=school_data_complete[school_data_complete.math_score>=70].math_score.count()/(total_students)
percent_passing_math

0.749808526933878

In [25]:
#% Passing Reading
percent_passing_reading=school_data_complete[school_data_complete.reading_score>=70].reading_score.count()/(total_students)
percent_passing_reading

0.8580546336482001

In [26]:
#Overall Passing Rate (Average of the above two)
overall_passing_rate=(percent_passing_math+percent_passing_reading)/2
overall_passing_rate

0.8039315802910391

In [27]:
# Create a dataframe to hold the above results#
# Optional: give the displayed data cleaner formatting
district_summary=pd.DataFrame({"Total School":[total_schools],
                               "Total Student":[total_students],
                               "Total Budget":[total_budget],
                               "Average Math Score":[avg_math_score],
                               "Average Reading Score":[avg_reading_score],
                               "% Passing Math":[percent_passing_math],
                               "% Passing Reading":[percent_passing_reading],
                               "Overall Passing Rate":[overall_passing_rate]})
district_summary

,Total School,Total Student,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.803932

In [28]:
#* Create an overview table that summarizes key metrics about each school, including:
#  * School Name
#  * School Type
#  * Total Students
#  * Total School Budget
#  * Per Student Budget
#  * Average Math Score
#  * Average Reading Score
#  * % Passing Math
#  * % Passing Reading
#  * Overall Passing Rate (Average of the above two)
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [40]:
school_summary=school_data_complete.groupby(["school_name","type"]).agg({"Student ID":'count',
                                                                         "budget":'first',
                                                                         'math_score':'mean',
                                                                         'reading_score':'mean'})
school_summary

                                Student ID   budget  math_score  reading_score
school_name           type
Bailey High School    District        4976  3124928   77.048432      81.033963
Cabrera High School   Charter         1858  1081356   83.061895      83.975780
Figueroa High School  District        2949  1884411   76.711767      81.158020
Ford High School      District        2739  1763916   77.102592      80.746258
Griffin High School   Charter         1468   917500   83.351499      83.816757
Hernandez High School District        4635  3022020   77.289752      80.934412
Holden High School    Charter          427   248087   83.803279      83.814988
Huang High School     District        2917  1910635   76.629414      81.182722
Johnson High School   District        4761  3094650   77.072464      80.966394
Pena High School      Charter          962   585858   83.839917      84.044699
Rodriguez High School District        3999  2547363   76.842711      80.744686
Shelton High School   Charter         1761  1056600   83.359455      83.725724
Thomas High School    Charter         1635  1043130   83.418349      83.848930
Wilson High School    Charter         2283  1319574   83.274201      83.989488
Wright High School    Charter         1800  1049400   83.682222      83.955000

In [47]:
passing_math_perschool=(school_data_complete[school_data_complete.math_score>=70].groupby("school_name"))['Student ID'].count()
passing_reading_perschool=(school_data_complete[school_data_complete.reading_score>=70].groupby("school_name"))['Student ID'].count()

school_summary['% Passing Math']=passing_math_perschool*100/(school_summary['Student ID'])
school_summary['% Passing Reading']=passing_reading_perschool*100/(school_summary['Student ID'])
school_summary['Overall Passing Rate']=(school_summary['% Passing Math']+school_summary['% Passing Reading'])/2
school_summary

,,Student ID,budget,math_score,reading_score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,type,,,,,,,
Bailey High School,District,4976,3124928,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,83.682222,83.955000,93.333333,96.611111,94.972222