In [27]:
import pandas as pd

path="/Users/zacharyvunguyen/Documents/GitHub/DataAnalytic/Daily/Day10/11-Stu_GoodReadsSummary/Unsolved/Resources/books_clean.csv"

df=pd.read_csv(path)

In [28]:
df.head()

,ISBN,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

In [29]:
author=df['Authors']

In [9]:
author.head()

0                Suzanne Collins
1    J.K. Rowling, Mary GrandPré
2                Stephenie Meyer
3                     Harper Lee
4            F. Scott Fitzgerald
Name: Authors, dtype: object

In [30]:
author.value_counts()
print(author.nunique())

4664

In [20]:
year=df['Publication Year']
min_year=year.min()
max_year=year.max()
min_year
max_year

2017.0

In [21]:
min_year

-1750.0

In [22]:
total_review=df['One Star Reviews'].sum()+df['Two Star Reviews'].sum()+df['Three Star Reviews'].sum()+df['Four Star Reviews'].sum()+df['Five Star Reviews'].sum()
total_review

596873216

In [32]:

summary=pd.DataFrame({
    "Earliest Year": [year.min()],
    "Latest Year": [year.max()],
    "Author Num": [author.nunique()]
})

summary.head()

   Earliest Year  Latest Year  Author Num
0        -1750.0       2017.0        4664