In [2]:
import pandas as pd

path="/Users/zacharyvunguyen/Documents/GitHub/DataAnalytic/Daily/Day10/11-Stu_GoodReadsSummary/Unsolved/Resources/books_clean.csv"

df=pd.read_csv(path)

In [3]:
df.head()

,ISBN,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

In [8]:
author=df['Authors']

In [9]:
author.head()

0                Suzanne Collins
1    J.K. Rowling, Mary GrandPré
2                Stephenie Meyer
3                     Harper Lee
4            F. Scott Fitzgerald
Name: Authors, dtype: object

In [10]:
author.value_counts()

Stephen King                                                     60
Nora Roberts                                                     59
Dean Koontz                                                      47
Terry Pratchett                                                  42
Agatha Christie                                                  39
Meg Cabot                                                        37
James Patterson                                                  36
David Baldacci                                                   34
John Grisham                                                     33
J.D. Robb                                                        33
Laurell K. Hamilton                                              30
Janet Evanovich                                                  30
Michael Connelly                                                 29
John Sandford                                                    28
Kristen Ashley                                                   27
Tamora Pierce                                                    26
Harlan Coben                                                     25
Patricia Cornwell                                                25
Sherrilyn Kenyon                                                 25
Sue Grafton                                                      24
Jim Butcher                                                      24
Anne Rice                                                        23
Jodi Picoult                                                     23
Charlaine Harris                                                 22
Abbi Glines                                                      22
Rick Riordan                                                     22
Brandon Sanderson                                                21
Orson Scott Card                                                 21
R.A. Salvatore                                                   21
J.R. Ward                                                        21
                                                                 ..
Barbara Taylor Bradford                                           1
Walter M. Miller Jr.                                              1
Marlo Morgan                                                      1
بهاء طاهر                                                         1
Kazue Kato, John Werry                                            1
Robert Harling                                                    1
Robert Henri, Forbes Watson, Margery A. Ryerson                   1
Claire Contreras                                                  1
Louise Jensen                                                     1
Trevor Noah                                                       1
Jane O'Connor, Robin Preiss Glasser                               1
Warren Ellis, Darick Robertson, Rodney Ramos, Patrick Stewart     1
Benjamin Hoff, Ernest H. Shepard                                  1
Milan Kundera, Michael Henry Heim                                 1
M.O. Walsh                                                        1
Nathaniel Hawthorne, Robert S. Levine                             1
Shari Lapena                                                      1
Elmore Leonard                                                    1
Adam Smith                                                        1
Aziz Ansari, Eric Klinenberg                                      1
Arlene Mosel, Blair Lent                                          1
Laura Dave                                                        1
Jim Kjelgaard, Carl Pfeuffer                                      1
Sarah Palin, Lynn Vincent, Dewey Whetsell                         1
John Eldredge                                                     1
Christiane F., Kai Hermann, Horst Rieck                           1
Jussi Adler-Olsen, K.E. Semmel                                    1
Michael Frayn                                                     1
Carl Bernstein, Bob Woodward                                      1
Eric Van Lustbader, Robert Ludlum                                 1
Name: Authors, Length: 4664, dtype: int64

In [12]:
year=df['Publication Year']
min_year=year.min()
max_year=year.max()
min_year
max_year

2017.0

In [13]:
min_year

-1750.0

In [17]:
total_review=df['One Star Reviews'].sum()+df['Two Star Reviews'].sum()+df['Three Star Reviews'].sum()+df['Four Star Reviews'].sum()+df['Five Star Reviews'].sum()
total_review

596873216