In [6]:
# Dependencies
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
#from config import gkey
gkey='AIzaSyByxKemXKSx3IntB-pm1lcYkd8vTu4JBPQ'

In [7]:
types_df = pd.read_csv("../Resources/ethnic_restr.csv")
types_df.head()

  ethnicity
0   chinese
1     cuban
2     czech
3    french
4    german

In [8]:
# set up additional columns to hold information
types_df['name'] = ""
types_df['address'] = ""
types_df['price_level'] = ""
types_df['rating'] = ""

types_df.head()

  ethnicity name address price_level rating
0   chinese
1     cuban
2     czech
3    french
4    german

In [9]:
# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "39.952583,-75.16522",  # philadelphia coords,
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}
# use iterrows to iterate through pandas dataframe
for index, row in types_df.iterrows():

    # get restaurant type from df
    restr_type = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: chinese.
Closest chinese restaurant is Chinese Fast Wok.
------------
Retrieving Results for Index 1: cuban.
Closest cuban restaurant is Alma de Cuba.
------------
Retrieving Results for Index 2: czech.
Missing field/result... skipping.
------------
Retrieving Results for Index 3: french.
Closest french restaurant is Amuse.
------------
Retrieving Results for Index 4: german.
Closest german restaurant is Brü Craft & Wurst.
------------
Retrieving Results for Index 5: greek.
Closest greek restaurant is Zaffron Mediterranean Grill.
------------
Retrieving Results for Index 6: haitian.
Closest haitian restaurant is Maison 208.
------------
Retrieving Results for Index 7: hungarian.
Closest hungarian restaurant is Balkan Express.
------------
Retrieving Results for Index 8: indian.
Closest indian restaurant is Amma's South Indian Cuisine.
------------
Retrieving Results for Index 9: indonesian.
Closest indonesian restaurant is Bonchon - Philadelphia.
------------
Retrieving Results for Index 10: irish.
Closest irish restaurant is Tir na nOg Irish Bar & Grill.
------------
Retrieving Results for Index 11: israeli.
Closest israeli restaurant is Dizengoff.
------------
Retrieving Results for Index 12: italian.
Closest italian restaurant is Davio's Northern Italian Steakhouse.
------------
Retrieving Results for Index 13: japanese.
Closest japanese restaurant is Double Knot.
------------
Retrieving Results for Index 14: jewish.
Closest jewish restaurant is Abe Fisher.
------------
Retrieving Results for Index 15: korean.
Closest korean restaurant is GIWA Fresh Korean Kitchen.
------------
Retrieving Results for Index 16: lebanese.
Closest lebanese restaurant is Boutros Greek & Middle Eastern.
------------
Retrieving Results for Index 17: mexican.
Closest mexican restaurant is Taco Bell.
------------
Retrieving Results for Index 18: new american.
Closest new american restaurant is Square 1682.
------------
Retrieving Results for Index 19: pakistani.
Closest pakistani restaurant is Nanee's Kitchen.
Missing field/result... skipping.
------------
Retrieving Results for Index 20: polish.
Closest polish restaurant is Franks A-lot.
Missing field/result... skipping.
------------
Retrieving Results for Index 21: russian.
Closest russian restaurant is Monk's Cafe.
------------
Retrieving Results for Index 22: scandinavian.
Closest scandinavian restaurant is Parc.
------------
Retrieving Results for Index 23: scottish.
Missing field/result... skipping.
------------
Retrieving Results for Index 24: soul food.
Closest soul food restaurant is Keven Parker's Soul Food Cafe.
Missing field/result... skipping.
------------
Retrieving Results for Index 25: spanish.
Closest spanish restaurant is Jamonera.
------------
Retrieving Results for Index 26: thai.
Closest thai restaurant is Chatayee Thai.
Missing field/result... skipping.
------------
Retrieving Results for Index 27: turkish.
Closest turkish restaurant is Sahara Grill.
------------
Retrieving Results for Index 28: ukrainian.
Closest ukrainian restaurant is The Pierogie Kitchen.
------------
Retrieving Results for Index 29: vietnamese.
Closest vietnamese restaurant is Pho Street.
Missing field/result... skipping.
------------

In [10]:
types_df

,ethnicity,name,address,price_level,rating
0,chinese,Chinese Fast Wok,"1500 John F Kennedy Blvd, Philadelphia",2,2.1
1,cuban,Alma de Cuba,"1623 Walnut St, Philadelphia",3,4.4
2,czech,,,,
3,french,Amuse,"1421 Arch St, Philadelphia",4,4.2
4,german,Brü Craft & Wurst,"1316 Chestnut St, Philadelphia",2,4.1
5,greek,Zaffron Mediterranean Grill,"1625 Chestnut St, Philadelphia",2,3.5
6,haitian,Maison 208,"208 S 13th St, Philadelphia",3,4.3
7,hungarian,Balkan Express,"2237 Grays Ferry Ave, Philadelphia",2,4.6
8,indian,Amma's South Indian Cuisine,"1518 Chestnut St, Philadelphia",2,4.4
9,indonesian,Bonchon - Philadelphia,"1020 Cherry St, Philadelphia",2,4.5
10,irish,Tir na nOg Irish Bar & Grill,"1600 Arch St, Philadelphia",2,4.2
11,israeli,Dizengoff,"1625 Sansom St, Philadelphia",1,4.8
12,italian,Davio's Northern Italian Steakhouse,"111 S 17th St, Philadelphia",3,4.5
13,japanese,Double Knot,"120 S 13th St, Philadelphia",2,4.7
14,jewish,Abe Fisher,"1623 Sansom St, Philadelphia",3,4.7
15,korean,GIWA Fresh Korean Kitchen,"1722 Sansom St, Philadelphia",2,4.3
16,lebanese,Boutros Greek & Middle Eastern,"200 S Broad St, Philadelphia",1,0
17,mexican,Taco Bell,"1501 John F Kennedy Blvd, Philadelphia",1,3.7
18,new american,Square 1682,"121 S 17th St, Philadelphia",2,4.1
19,pakistani,Nanee's Kitchen,"2954, 51 N 12th St, Philadelphia",,
20,polish,Franks A-lot,"51 N 12th St, Philadelphia",,
21,russian,Monk's Cafe,"264 S 16th St, Philadelphia",2,4.6
22,scandinavian,Parc,"227 S 18th St, Philadelphia",3,4.6
23,scottish,,,,
24,soul food,Keven Parker's Soul Food Cafe,"N 12th St & Arch St, Philadelphia",,
25,spanish,Jamonera,"105 S 13th St, Philadelphia",2,4.4
26,thai,Chatayee Thai,"1227 Walnut St, Philadelphia",,
27,turkish,Sahara Grill,"1334 Walnut St, Philadelphia",2,4.3
28,ukrainian,The Pierogie Kitchen,"648 Roxborough Ave, Philadelphia",1,4.5
29,vietnamese,Pho Street,"1230 Arch St, Philadelphia",,