In [7]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Import API key
gkey='AIzaSyByxKemXKSx3IntB-pm1lcYkd8vTu4JBPQ'

In [8]:
# Import cities file into the cities_pd DataFrame
cities_pd = pd.read_csv("../Resources/Cities.csv")
cities_pd.head()

            City         State
0  New York City      New York
1    Los Angeles    California
2        Chicago      Illinois
3        Houston         Texas
4   Philadelphia  Pennsylvania

In [9]:
# Add columns for lat, lng, airport name, airport address, airport rating.
cities_pd['lat']=""
cities_pd['lng']=""
cities_pd['airport_name']=""
cities_pd['airport_address']=""
cities_pd['airport_rating']=""
cities_pd.head()
# Hint: Be sure to specify "" as the initial value for each column.

,City,State,lat,lng,airport_name,airport_address,airport_rating
0,New York City,New York,,,,,
1,Los Angeles,California,,,,,
2,Chicago,Illinois,,,,,
3,Houston,Texas,,,,,
4,Philadelphia,Pennsylvania,,,,,

In [10]:
base_url= 'https://maps.googleapis.com/maps/api/geocode/json'
params = {
    "key": gkey,
}

for index, row in cities_pd.iterrows():
    params["address"]=f"{row['City']},+{row['State']}"
    response=requests.get(base_url,params).json()
    
    cities_pd.loc[index,'lat']=response['results'][0]["geometry"]["location"]["lat"]
    cities_pd.loc[index,'lng']=response['results'][0]["geometry"]["location"]["lng"]

cities_pd.head()

,City,State,lat,lng,airport_name,airport_address,airport_rating
0,New York City,New York,40.7128,-74.006,,,
1,Los Angeles,California,34.0522,-118.244,,,
2,Chicago,Illinois,41.8781,-87.6298,,,
3,Houston,Texas,29.7604,-95.3698,,,
4,Philadelphia,Pennsylvania,39.9526,-75.1652,,,

In [11]:
# Loop through the cities_pd and get the lat/long for each city
# Hint: `requests.get(target_url).json()`
# Hint: `for index, row in cities_pd.iterrows():`
# Hint: `cities_pd.loc`

In [ ]:
# Use the lat/lng we recovered to identify airports
# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings

In [ ]:
# Save Data to csv


# Visualize to confirm airport data appears